

body, html {
    min-width: 100%;
    min-height: 100vh;
    margin: 0;
}





#logo {
    margin: auto;
    display: block;
}


#athlete {
    background-color: blue;
    width: 100%;
    height: 150px;
}

.text-content-container {
    width: 100%;
    text-align: center;
}

h2 {
    margin: 0;
    font-family: AdiHaus;
    font-size: 48px;
    letter-spacing: 5px;
    text-transform: uppercase;
}

h2.red {
    color: red;
}